.container {
    float: right;
    margin-top: 50px;
    left: -25px;
    max-width: 330px;
    position: relative;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(182px)
  }
  
  .divContainer {
    display: flex;
    align-items: center;
  }
  
  .divnew {
    margin-right: 10px; /* Espaçamento entre os elementos */
  }
  
  .button {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
  
  .divContainercenter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }
  
  .buttoncenter {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
  
  .color {
    color: #dbdbdb;
  }
  
  .carouselContainer {
    position: fixed;
    top: 20px;
    right: 50px;
    width: 100px;
  }
  
  .divnew {
    text-align: center;
  }
  
  .divnewbutton {
    text-align: center;
    margin-top: 12px;
  }
  
  .divButton {
    margin-top: 8px;
    text-align: center;
    position: relative;
    transition: top 0.2s ease-out;
  }
  
  .ReactModal__Content {
    overflow: hidden; /* Desabilita o scroll da tela de trás */
  }
  
  .modalContent {
    overflow: auto; /* Habilita o scroll somente no conteúdo do modal */
    max-height: 80vh; /* Define a altura máxima do conteúdo do modal */
  }
  
  .containerimg {
    float: right;
    margin-top: 30px;
    left: -25px;
    max-width: 330px;
    position: relative;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(8px);
  
    .imagem {
      width: 50px;
      height: 50px;
      position: relative;
      align-items: center;
    }
  }
  
  .imagemPlaceholder {
    width: 60px;
    height: 60px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-top: 50px;
    left: -122px;
    position: relative;
  
    // Defina um tamanho adequado para o ícone
    font-size: 20px;
    // Centralize o ícone verticalmente no quadrado
    display: flex;
    justify-content: center;
    align-items: center;
  
    // Crie o ícone usando FontAwesome (classe do ícone de câmera)
    &::before {
      content: "\f030"; // Código Unicode do ícone de câmera no FontAwesome
      font-family: "Font Awesome 5 Free"; // Ajuste a fonte correta para o ícone
      font-weight: 900;
    }
  
    // Defina o tamanho da imagem de fundo do quadrado
    background-size: cover;
    background-position: center;
  }
  
  .inputimg {
    display: none;
  }