.container {
  margin: 0 auto;
  max-width: 400px;
  position: fixed; /* Alterado para position: fixed */
  left: 0; /* Alterado para left: 0 */
  width: 90%;
 
}

.color {
  color: #dbdbdb;
}

.carouselContainer {
  position: fixed;
  top: 20px;
  left: 50px;
  width: 100px;
}

.divButton {
  text-align: center;
  margin-top: 80px;
  color: #dbdbdb;
  
  &:hover {
    color: red;
  }
}

.divnew {
  text-align: center;
  font-size: 28px;
  margin-top: 188px;
  color: #dbdbdb;
  
  &:hover {
    color: red;
  }
}
