.container {
  float: left;
  margin-right: -100%;
  max-width: 413px;
  position: relative;
  width: 100%;
  background-color: black;
}

.color {
  color: #dbdbdb;
}

.carouselContainer {
  position: fixed;
  top: 20px;
  left: 50px;
  width: 100px;
}

.divButton {

  text-align: center;
}

.divnew{
  text-align: center;
}