.elvis-sign {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    height: 18vh;
    width: -webkit-fill-available;
    margin: 10;
    right: -28pc;
  }
  
  
  .elvis-sign .letter {
    margin: 0 5px;
    transition: color 0.3s;
  }
  
  .elvis-sign.flashing .letter {
    color: red;
  }
  