.sidebarContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 220px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 999;
}

.sidebar {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.open {
  transform: translateX(0);
}

.sidebarmenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebarmenu li {
  padding: 15px;
  border-bottom: 1px solid #222;
}

.sidebarmenu li a {
  color: #fff;
  text-decoration: none;
}

.sidebarToggle {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.redButton {
  background-color: red;
}

.sidebarToggle svg {
  width: 20px;
  height: 20px;
}
