@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

.ButtonNewHome {
    background-color: #000;
    color: #dbdbdb;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Noto Serif', serif;
    font-size: 14px;
}