
.container {
    width: 640px; /* Defina a largura desejada para o player */
    margin: 0 auto;
  }
  
  .videoplayer {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Proporção de aspecto 16:9 para manter a área de visualização correta */
  }
  
  .videoplayer video {
    position: absolute;
    top: -75%;
    left: 105%;
    transform: translate(-50%, -50%);
    width: 150%;
    height: 130%;
    object-fit: cover;
  }
  
  
  
  .controls {
    display: flex;
    justify-content: center;
    color: aliceblue;
    margin-top: 180px;
  }
  
  .controls button {
    background: none;
    border: none;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
  }
  
  .controls button:hover {
    color: #f7f5f5; /* Cor de destaque ao passar o mouse */
  }
  .audioplayercontainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.duration {
  width: 450px;
  height: 4px; /* Altura da barra de reprodução */
  background-color: red; /* Cor de fundo vermelha */
  outline: none; /* Remover contorno padrão */
  -webkit-appearance: none; /* Remover aparência padrão */
}

.duration::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remover aparência padrão */
  appearance: none;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}
.albumartist {
  position: absolute;
  top:56%;
  max-width: 700px;
  max-height: 500px;
  border-radius: 10px;
  bottom: 0;
  color: #fff;
  padding: 0px;
  font-size: 18px;
  left: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
 
}


.volume {
  width: 50px;
  height: 4px; /* Altura da barra de reprodução */
  background-color: red; /* Cor de fundo vermelha */
  outline: none; /* Remover contorno padrão */
  -webkit-appearance: none; /* Remover aparência padrão */
}
.volume::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remover aparência padrão */
  appearance: none;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}


.playicon {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 18px solid white;
  margin-left: 4px;
}

.trackcontrols {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.controlbutton {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 5px;
}

.controlicon {
  color: #fff;
  font-size: 20px;
}

.controliconnext {
  width: 5%;
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

}



