/* index.module.scss */

.backModalContent {
    /* Estilo do conteúdo do modal */
    pointer-events: none; /* Impede que o conteúdo ocupe espaço clicável */
  }
  
  .modalOverlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 9999;
  }
  
  .sidebarModal {
    background-color: #040306;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px; /* Ajuste a largura conforme necessário */
    padding: 20px;
  }
  
  .closeModalButton {
    font-size: 18px;
    font-weight: bold;
    background-color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .sidebarContent {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 40px); /* Subtrai o espaço dos paddings */
    overflow-y: auto; /* Adiciona a barra de rolagem vertical */
  }
  
  .box {
    background-color: #000;
    padding: 10px; /* Ajuste o espaçamento interno conforme necessário */
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .box:hover {
    background-color: #ebe1e1;
  }
  
  .albumImage {
    width: 80px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 80px;
    object-fit: cover;
  }
  
  .modalActions {
    margin-top: 10px;
  }
  
  .active {
    /* Estilo para o item ativo */
  }
  
  .sidebarContent::-webkit-scrollbar {
    width: 8px; /* Ajuste a largura da barra de rolagem */
  }
  
  .sidebarContent::-webkit-scrollbar-thumb {
    background-color: transparent; /* Define a cor transparente para o polegar da barra de rolagem */
  }
  
  .sidebarContent::-webkit-scrollbar-track {
    background-color: transparent; /* Define a cor transparente para a trilha da barra de rolagem */
  }
  