.tracklist {
    background-color: black;
    color: white;
    padding: 20px;
  
    h2 {
      margin-bottom: 10px;
    }
  
    ul {
      list-style: none;
      padding: 0;
  
      li {
        margin-bottom: 10px;
      }
    }
  }
  