.tooltiptext {
    position: relative;
    display: inline-block;
  }
  
  .tooltiptext > span {
    visibility: hidden;
    width: 140px;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: -100px;
    position: absolute;
    z-index: 1;
    top: 6px;
    right: -265%;
    transform: translateX(-100%);
    opacity: 0;
    transition: opacity 0.4s;
  }
  
  .tooltiptext:hover > span {
    visibility: visible;
    opacity: 1;
  }
  